name: Wiki Sync

on:
  push:
    branches:
      - main
      - master
    paths:
      - "docs/**" # Only trigger when docs change
      - ".github/workflows/wiki-sync.yml"

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/
